<div class="flex-grow">
    <form class="flex flex-col er-cyan-600">
        <label for="user_name">Login:</label>
        <input type="text" id="user_name" name="user_name" class="bg-cyan-100 rounded-lg er-cyan-400"/>
        <label for="user_password">Password:</label>
        <input type="text" id="user_password" name="user_password" class="bg-cyan-100 rounded-lg er-cyan-400"/>
        <label for="user_role">Role:</label>
        <input type="text" id="user_role" name="user_role" class="bg-cyan-100 rounded-lg er-cyan-400"/>
        <label for="user_branch_id">Branch id:</label>
        <input type="text" id="user_branch_id" name="user_branch_id" class="bg-cyan-100 rounded-lg er-cyan-400"/>
    </form>
</div>
