<div class="flex-grow flex-col" hx-include="this">
    <input name="user_id" type="text" value="{{ user.user_id.unwrap_or(0) }}" id="user_id" name="user_id" class="collapse bg-cyan-100 rounded-lg er-cyan-400" readonly/>
    <label for="user_name">Login:</label>
    <input name="username" type="text" value="{{ user.username}}" id="user_name" name="user_name" class="bg-cyan-100 rounded-lg er-cyan-400" readonly/>
    <label for="user_password">Password:</label>
    <input name="passwordhash" type="text" id="user_password" name="user_password" class="bg-cyan-100 rounded-lg er-cyan-400"/>
    <label for="user_role">Role:</label>
    <input name="role" type="text" value="{{ user.role }}" id="user_role" name="user_role" class="bg-cyan-100 rounded-lg er-cyan-400"/>
    <label for="user_branch_id">Branch id:</label>
    <input name="branch_id" type="text" value="{{ user.branch_id }}"id="user_branch_id" name="user_branch_id" class="bg-cyan-100 rounded-lg er-cyan-400"/>
    <button type="button" 
        hx-post="/api/v1/admin/update_user"
        class="rounded-lg bg-cyan-600 w-full">
        Update
    </button>
</div>
